--
-- PostgreSQL database dump
--

\restrict tT6s3OFwyNjUGn7Difbcj3NdrXUIjpNHzxui7f54x4tZq61KeSwKlOiWvGoEToD

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: appointment_status; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.appointment_status AS ENUM (
    'scheduled',
    'confirmed',
    'completed',
    'cancelled',
    'no_show'
);


ALTER TYPE public.appointment_status OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointment_services; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.appointment_services (
    id integer NOT NULL,
    appointment_id integer NOT NULL,
    service_id integer NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    CONSTRAINT appointment_services_unit_price_check CHECK ((unit_price >= (0)::numeric))
);


ALTER TABLE public.appointment_services OWNER TO root;

--
-- Name: appointment_services_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.appointment_services_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointment_services_id_seq OWNER TO root;

--
-- Name: appointment_services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.appointment_services_id_seq OWNED BY public.appointment_services.id;


--
-- Name: appointments; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.appointments (
    id integer NOT NULL,
    barber_id integer NOT NULL,
    client_id integer NOT NULL,
    appointment_date date NOT NULL,
    appointment_time time without time zone NOT NULL,
    status public.appointment_status DEFAULT 'scheduled'::public.appointment_status NOT NULL,
    notes text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.appointments OWNER TO root;

--
-- Name: appointments_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.appointments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appointments_id_seq OWNER TO root;

--
-- Name: appointments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.appointments_id_seq OWNED BY public.appointments.id;


--
-- Name: barber_schedules; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.barber_schedules (
    id integer NOT NULL,
    barber_id integer NOT NULL,
    day_of_week smallint NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    CONSTRAINT barber_schedules_check CHECK ((end_time > start_time)),
    CONSTRAINT barber_schedules_day_of_week_check CHECK (((day_of_week >= 0) AND (day_of_week <= 6)))
);


ALTER TABLE public.barber_schedules OWNER TO root;

--
-- Name: barber_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.barber_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.barber_schedules_id_seq OWNER TO root;

--
-- Name: barber_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.barber_schedules_id_seq OWNED BY public.barber_schedules.id;


--
-- Name: barbers; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.barbers (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    cpf character(11) NOT NULL,
    phone character varying(20),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.barbers OWNER TO root;

--
-- Name: barbers_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.barbers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.barbers_id_seq OWNER TO root;

--
-- Name: barbers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.barbers_id_seq OWNED BY public.barbers.id;


--
-- Name: clients; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.clients (
    id integer NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    cpf character(11) NOT NULL,
    phone character varying(20),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.clients OWNER TO root;

--
-- Name: clients_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.clients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clients_id_seq OWNER TO root;

--
-- Name: clients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.clients_id_seq OWNED BY public.clients.id;


--
-- Name: services; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.services (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    CONSTRAINT services_price_check CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.services OWNER TO root;

--
-- Name: services_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.services_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.services_id_seq OWNER TO root;

--
-- Name: services_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.services_id_seq OWNED BY public.services.id;


--
-- Name: v_appointment_summary; Type: VIEW; Schema: public; Owner: root
--

CREATE VIEW public.v_appointment_summary AS
 SELECT a.id AS appointment_id,
    a.appointment_date,
    a.appointment_time,
    a.status,
    c.id AS client_id,
    (((c.first_name)::text || ' '::text) || (c.last_name)::text) AS client_name,
    c.phone AS client_phone,
    b.id AS barber_id,
    (((b.first_name)::text || ' '::text) || (b.last_name)::text) AS barber_name,
    string_agg((s.name)::text, ', '::text ORDER BY (s.name)::text) AS services,
    sum(aps.unit_price) AS total_price
   FROM ((((public.appointments a
     JOIN public.clients c ON ((c.id = a.client_id)))
     JOIN public.barbers b ON ((b.id = a.barber_id)))
     JOIN public.appointment_services aps ON ((aps.appointment_id = a.id)))
     JOIN public.services s ON ((s.id = aps.service_id)))
  GROUP BY a.id, a.appointment_date, a.appointment_time, a.status, c.id, c.first_name, c.last_name, c.phone, b.id, b.first_name, b.last_name;


ALTER VIEW public.v_appointment_summary OWNER TO root;

--
-- Name: appointment_services id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointment_services ALTER COLUMN id SET DEFAULT nextval('public.appointment_services_id_seq'::regclass);


--
-- Name: appointments id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointments ALTER COLUMN id SET DEFAULT nextval('public.appointments_id_seq'::regclass);


--
-- Name: barber_schedules id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barber_schedules ALTER COLUMN id SET DEFAULT nextval('public.barber_schedules_id_seq'::regclass);


--
-- Name: barbers id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barbers ALTER COLUMN id SET DEFAULT nextval('public.barbers_id_seq'::regclass);


--
-- Name: clients id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.clients ALTER COLUMN id SET DEFAULT nextval('public.clients_id_seq'::regclass);


--
-- Name: services id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.services ALTER COLUMN id SET DEFAULT nextval('public.services_id_seq'::regclass);


--
-- Data for Name: appointment_services; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.appointment_services (id, appointment_id, service_id, unit_price) FROM stdin;
1	1	1	35.00
2	1	2	25.00
3	2	1	35.00
\.


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.appointments (id, barber_id, client_id, appointment_date, appointment_time, status, notes, created_at) FROM stdin;
1	1	1	2026-05-22	10:00:00	scheduled	\N	2026-05-21 13:06:03.312829
2	1	2	2026-05-21	11:30:00	scheduled	teste test	2026-05-21 13:16:11.90527
\.


--
-- Data for Name: barber_schedules; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.barber_schedules (id, barber_id, day_of_week, start_time, end_time) FROM stdin;
1	1	1	09:00:00	18:00:00
2	1	2	09:00:00	18:00:00
3	1	3	09:00:00	18:00:00
4	1	4	09:00:00	18:00:00
5	1	5	09:00:00	18:00:00
6	1	6	09:00:00	14:00:00
7	2	1	09:00:00	18:00:00
8	2	2	09:00:00	18:00:00
9	2	3	09:00:00	18:00:00
10	2	4	09:00:00	18:00:00
11	2	5	09:00:00	18:00:00
12	2	6	09:00:00	14:00:00
\.


--
-- Data for Name: barbers; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.barbers (id, first_name, last_name, cpf, phone, created_at) FROM stdin;
1	Carlos	Oliveira	11122233344	(11) 91111-1111	2026-05-21 13:06:03.312829
2	Ricardo	Santos	55566677788	(11) 92222-2222	2026-05-21 13:06:03.312829
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.clients (id, first_name, last_name, cpf, phone, created_at) FROM stdin;
1	Jo├úo	Silva	99988877766	(11) 93333-3333	2026-05-21 13:06:03.312829
2	Maria	Souza	44433322211	(11) 94444-4444	2026-05-21 13:06:03.312829
\.


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.services (id, name, description, price, active) FROM stdin;
1	Haircut	Classic haircut	35.00	t
2	Beard trim	Trim and shape	25.00	t
3	Haircut + Beard	Combo: haircut and full beard grooming	55.00	t
4	Hair wash	Shampoo and conditioning	20.00	t
5	Beard wash	Shampoo and conditioning	35.00	t
\.


--
-- Name: appointment_services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.appointment_services_id_seq', 3, true);


--
-- Name: appointments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.appointments_id_seq', 2, true);


--
-- Name: barber_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.barber_schedules_id_seq', 12, true);


--
-- Name: barbers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.barbers_id_seq', 2, true);


--
-- Name: clients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.clients_id_seq', 2, true);


--
-- Name: services_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.services_id_seq', 5, true);


--
-- Name: appointment_services appointment_services_appointment_id_service_id_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointment_services
    ADD CONSTRAINT appointment_services_appointment_id_service_id_key UNIQUE (appointment_id, service_id);


--
-- Name: appointment_services appointment_services_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointment_services
    ADD CONSTRAINT appointment_services_pkey PRIMARY KEY (id);


--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: barber_schedules barber_schedules_barber_id_day_of_week_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barber_schedules
    ADD CONSTRAINT barber_schedules_barber_id_day_of_week_key UNIQUE (barber_id, day_of_week);


--
-- Name: barber_schedules barber_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barber_schedules
    ADD CONSTRAINT barber_schedules_pkey PRIMARY KEY (id);


--
-- Name: barbers barbers_cpf_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barbers
    ADD CONSTRAINT barbers_cpf_key UNIQUE (cpf);


--
-- Name: barbers barbers_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barbers
    ADD CONSTRAINT barbers_pkey PRIMARY KEY (id);


--
-- Name: clients clients_cpf_key; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_cpf_key UNIQUE (cpf);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: services services_pkey; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT services_pkey PRIMARY KEY (id);


--
-- Name: idx_appointments_barber; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_appointments_barber ON public.appointments USING btree (barber_id, appointment_date);


--
-- Name: idx_appointments_client; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_appointments_client ON public.appointments USING btree (client_id);


--
-- Name: idx_appointments_date; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_appointments_date ON public.appointments USING btree (appointment_date);


--
-- Name: idx_barber_schedules_barber; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_barber_schedules_barber ON public.barber_schedules USING btree (barber_id);


--
-- Name: idx_barbers_cpf; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_barbers_cpf ON public.barbers USING btree (cpf);


--
-- Name: idx_clients_cpf; Type: INDEX; Schema: public; Owner: root
--

CREATE INDEX idx_clients_cpf ON public.clients USING btree (cpf);


--
-- Name: appointment_services appointment_services_appointment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointment_services
    ADD CONSTRAINT appointment_services_appointment_id_fkey FOREIGN KEY (appointment_id) REFERENCES public.appointments(id) ON DELETE CASCADE;


--
-- Name: appointment_services appointment_services_service_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointment_services
    ADD CONSTRAINT appointment_services_service_id_fkey FOREIGN KEY (service_id) REFERENCES public.services(id);


--
-- Name: appointments appointments_barber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_barber_id_fkey FOREIGN KEY (barber_id) REFERENCES public.barbers(id);


--
-- Name: appointments appointments_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.clients(id);


--
-- Name: barber_schedules barber_schedules_barber_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.barber_schedules
    ADD CONSTRAINT barber_schedules_barber_id_fkey FOREIGN KEY (barber_id) REFERENCES public.barbers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tT6s3OFwyNjUGn7Difbcj3NdrXUIjpNHzxui7f54x4tZq61KeSwKlOiWvGoEToD

